
.timeleft-text {
    font-weight: normal;
    color: #000044;
    margin-left: 3px;
}
.dailydeal {
    margin-bottom: -5px;
    font-family: georgia;
}

.block-dailydeal .block-title {
    background: none repeat scroll 0 0 #8a2020;
    color: #fff;
    font-family: 'franklin-gothic-urw', sans-serif;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
}
.block-dailydeal .note-msg {
	background: transparent !important;
	border: 0 none !important;
	color: #252525 !important;
	padding: 1em 0;
}
.sidebardailydeal .item {

}

.block-dailydeal .sidebar-product-image {
    float: left;
    text-align: center;
    width: 100%;
}

.dailydeal-sidebar-product-name a {
    text-decoration: none;
    display: block;
    text-align: center;
}

.dailydeal-price li {
    display: table-cell;
    vertical-align: middle;
}
.dailydeal-price {
    display: table;
}
/*.btn-dailydeal span {
    background: url("../../images/magestore/dailydeal/bnt-add-to-cart.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-family: Impact;
    font-weight: normal;
    height: 52px;
    line-height: 47px;
    overflow: visible;
    padding: 0 0 0 22px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}*/

a.btn-dailydeal {
    background: none repeat scroll 0 0 #000;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'franklin-gothic-urw',sans-serif;
    font-weight: 600;
    height: 38px;
    line-height: 34px;
    margin: 10px;
    padding: 0 2em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0.03s;
}

a.btn-dailydeal:hover {
    background: transparent;
    border: 2px solid #a62f39;
    color: #a62f39;
}

/*.btn-dailydeal span span {
    background-position: 100% 0;
    padding: 0 22px 0 0;
}*/

/*------- Daily Deal sidebar left ------------------*/
.block-dailydeal {
    font-family: georgia;
}
.sidebardailydeal {
    background: url("../../images/magestore/dailydeal/mid-line.png") no-repeat scroll left bottom transparent;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.block-dailydeal div.last {
    /*background: none transparent !important;
    padding: 1em;*/
}

.sidebardailydeal .dailydeal-sidebar-product-name a {
    font-weight: normal;
    text-overflow: clip;
    white-space: normal;
    color: #972d36;
    font-family: initial;
    text-transform: uppercase;
}
.sidebardailydeal .special-price, .sidebardailydeal li {
    padding-top: 6px;
    background: none !important;
    padding-left: 0px !important;
}
.block-subscribe .block-content {
    padding: 6px;
}
/*.sidebar-product-image img {
    margin-left: 0px;
    border: 1px solid #FDFDFD;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}*/

.sidebar-product-image img {
    border: 1px solid #fdfdfd;
    float: none;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 0;
    max-width: 210px;
    width: 100%;
}
.dailydeal-price, .save-sold, .time-left, .block-dailydeal .time-left {
    width: 100%;
    float: left;
}

.dailydeal-price {
    float: right;
    margin: 10px;
    width: 31%;
}

.dailydeal-price li {
    clear: both;
    display: inline-block;
    float: right;
    padding: 0;
    text-align: right;
    width: 100%;
}

.dailydeal-price li.special-price {
    padding: 0;
}

.block-dailydeal .time-left {
    border-top: 1px dashed #b8b8b8;
    font-family: 'franklin-gothic-urw',Arial,Verdana,Helvetica,Tahoma,sans-serif;
    padding: 5px 0;
    text-align: center;
}
.block-dailydeal .time-left label, .block-dailydeal .time-left div span {
    font-weight: normal;
}

.block-dailydeal .time-left label {
    text-transform: uppercase;
    font-size: 1em;
}

.block-dailydeal .time-left div span {
    color: #8A2020;
    font-family: 'franklin-gothic-urw',Arial,Verdana,Helvetica,Tahoma,sans-serif;
    font-weight: bold;
}

.save-sold li {
    float: left;
}
.dailydeal-price .special-price .price {
    font-weight: normal;
    color: #972d36;
    font-family: 'kepler-std', sans-serif;
    font-weight: 600;
    line-height: 1;
}
.save-sold {
    border-bottom: 1px dashed #b8b8b8;
    color: #972d36;
    font-family: initial;
    font-weight: normal;
    font-size: 1.6em;
    margin: 10px 0 0;
    padding: 0 0 10px;
    text-align: center;
    text-overflow: clip;
    text-transform: uppercase;
    white-space: normal;
}

.save-sold li {
    display: inline-block;
    float: none;
}

.dailydeal-price .old-price .price {
    color: #262626;
    font-family: 'kepler-std', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}
.save-sold li label {
    display: block;
}

.save-sold li label {
    font-family: 'franklin-gothic-urw', Arial, Verdana, Helvetica, Tahoma, sans-serif;
    color: #262626;
    font-size: 0.8em;
    font-weight: normal;
}
.save-sold li.lastspecial {
    margin-right: 0 !important;
}
.save-sold li.special-price {
    margin-right: 15px;
    text-align: center;
}

.sidebardailydeal .time-left .text-time {
    color: #282828 !important;
    font-weight: normal !important;
    font-family: georgia;
}
.save-sold .special-price .price {
    color: #972d36;
    font-family: 'kepler-std',sans-serif;
    font-weight: 600;
    line-height: 1;
}
.timeleft li {
    float: left;
}
/*------- End Daily Deal sidebar left ------------------*/

/*------------Daily Deal Grid ----*/
.dailydeal-grid .product-image {
    margin: 0 auto !important;
    padding: 0 !Important;
    background: #f5f5f5;
    width: 100% !important;
    height: auto !important;
}
.dailydeal-grid .product-image img {
    width: 100%;
    height: auto;
    max-height: 173px;
}
.dailydeal-grid li.last {
    margin-left: 20px !important;
}
.dailydeal-grid {
    width: 100% !important;
    display: table;
    background: none transparent !important;
    font-family: georgia;
    border: 0 none;
    padding-top: 15px;
    margin-left: 0px !important;
    margin-left: 0px !important;
}
.dailydeal-grid li.item, .category-products ul.dailydeal-grid li.first, .category-products ul.dailydeal-grid li.last {
    width: 50% !important;
    padding: 0 !important;
    /* background: #f5f5f5; */
    position: relative;
    text-align: center;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dailydeal-grid li.item .dailydeal-wrap {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #d9d9d9;
}
.dailydeal-grid .wrap-grid-action {
    width: 100%;
    float: left;
}
.dailydeal-grid .wrap-grid-action .btn-dailydeal {
    float: left;
    width: 158px;
    margin-right: 25px;
}
div.toolbar {
    display: block !important;
}
.dailydeal-grid .time-left .timeleft-text {
    color: #972d36;
    margin-left: 5px;
}
.dailydeal-grid li.item .bg-bottom-dailydeal {
    position: relative;
    bottom: 0;
    height: 11px;
    width: 100%;
    background: url(../../images/magestore/dailydeal/bg_bottom_li.png) no-repeat scroll left bottom;
    float: left;
}
.dailydeal-grid .time-left li, .dailydeal-grid .time-left .timeleft {
    float: left;
    /* 	margin-right: 8px; */
    line-height: 35px;
    color: #282828;
    font-family: 'franklin-gothic-urw', Arial, Verdana, Helvetica, Tahoma, sans-serif;
}
.dailydeal-grid .wrap-grid-action .save-sold {
    float: left;
    width: auto;
}
.bottom-grid-dailydeal {
    background: #f5f5f5;
    padding: 17px;
    display: inline-block;
}
.wrap-grid-action button.btn-dailydeal {
    float: left;
}

/*------------End Daily Deal Grid ----*/

/*------------Daily Deal Detail --------------*/

.wrap-timeleft-detail li {
    margin: 10px 0 10px 5px;
    display: inline-block;
    float: none !important;
    font-size: 1.4em;
}
.wrap-timeleft-detail li:first-child {
    margin-left: 0px;
}
.wrap-timeleft-detail li.time-day {
    margin-left: 15px;
}
.wrap-timeleft-detail li.time-sec {
    margin-right: 0;
}
.wrap-timeleft-detail .timeleft-text {
    display: block;
    width: 30px;
    background: url(../../images/magestore/dailydeal/bg-digital.png) no-repeat;
    height: 78px;
    width: 72px;
    color: #fff;
    line-height: 65px;
    text-align: center;
    position: relative;
    margin-left: 0;
    /* text-decoration: line-through; */
}
.product-view .timeleft {
    text-align: center;
}
.product-view .wrap-timeleft-detail .text-time {
    text-transform: uppercase;
    font-weight: bold;
}
.bg-saleoff {
    background: url(../../images/magestore/dailydeal/bg-saleoff.png) no-repeat center top;
    height: 77px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.bg-saleoff .off-label {
    margin-left: 0px;
}
.bg-saleoff span {
    color: #FFFFFF;
    font-size: 1.4em;
    display: inline-block;
    margin-top: 17px;
}

.product-view .product-shop .wrap-timeleft-detail {
    border: 1px solid #fff;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    clear: both;
}

.product-view .product-shop .timeleft {
    background: #f0f2f2;
    border: 1px solid #ebe9e9;
    width: 100%;
    float: left;
    text-align: center;
    color: #595959;
    text-transform: uppercase;
    font-family: sans-serif;
    /* font-weight: bold; */
}
/*------------End Daily Deal Detail --------------*/
.dailydeal-list li .product-image {
    width: 35% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
}
.dailydeal-list .product-shop {
    width: 58%;
    float: right !important;
    margin: auto !important;
}
.dailydeal-list li .product-image img {
    width: 100%;
    height: auto;
}

.dailydeal-list ul.time-left div.timeleft {
    float: left;
    clear: none;
}
/*------------List Daily Deal --------------*/
.dailydeal-list {
    font-family: georgia;
}
ol#products-list .product-shop .timeleft {
    background: none transparent;
    border: 0 none;
    text-transform: none;
}
ol#products-list .time-left li {
    color: #282828;
    font-weight: normal;
}
ol#products-list  .time-left li, ol#products-list  .time-left div {
    float: left;
    width: auto;
}
ol#products-list  .timeleft .timeleft-text {
    /*color: #8A2020 !important;
    margin-left: 5px;*/
}

ol#products-list .wrap-grid-action {
    float: left;
    width: 100%;
}
ol#products-list .wrap-grid-action button {
    float: left;
    width: 158px;
    margin-right: 25px;
}
ol#products-list li.item {
    background: url("../../images/magestore/dailydeal/productlist-li-bottom.png") no-repeat scroll 0 100% transparent;
    border-bottom: 0 none;
    margin: 10px 0;
    padding: 0 0 11px;
}
ol#products-list li.item .wrap-productlist-li {
    /* background: url("../../images/magestore/dailydeal/bg-product-list-li-top.png") repeat scroll 0 0 transparent; */
    background: #f5f5f5;
    float: left;
    padding: 9px 12px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}
ol#products-list .time-left {
    margin-top: 20px;
}
ol#products-list .wrap-grid-action .save-sold {
    float: left;
    width: auto;
}

.btn-dailydeal:hover {
    background: none;
    border: none;
}

.dailydeal-grid li.item {
    text-align: left;
    margin: 0 0 20px 0px !important;
    float: left;
}
.dailydeal-grid li.last {
    text-align: right !important;
}

ul.time-left div.timeleft {
    clear: both;
}

ul.time-left div.timeleft li {
    color: #972d36;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 1em;
    text-align: center;
    margin-right: 0.2em;
}

ul.time-left div.timeleft li.time-month {
    min-width: 65px;
}

ul.time-left div.timeleft li.time-min,
ul.time-left div.timeleft li.time-sec {
    min-width: 45px;
}
ul.time-left div.timeleft li span.text-time {
    font-weight: normal;
}
.product-view .product-type-data, .product-view .short-description {
    clear: both;
}
.mb-category-products .product-image img {
    width: 100% !important;
}
/*------------End List Daily Deal --------------*/

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++RESPONSIVE++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (min-width: 0px) and (max-width: 379px) {

    .dailydeal-grid li.item {
        width: 100%;
        display: block;
        margin-left: 0px !important;
    }
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: left;
    }
    ol#products-list li.item {
        background: url("../../images/magestore/dailydeal/bg_bottom_li_300.png") no-repeat scroll center bottom transparent;
        padding-bottom: 10px;
    }
    ol#products-list li.item .wrap-productlist-li {
        width: 300px;
        float: none;
        margin: 0 auto;
    }
    .dailydeal-list li .product-image, .dailydeal-list .product-shop {
        width: 100%;
        float: none;
        clear: both;
    }
    .dailydeal-list .product-shop {
        padding-top: 10px;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
    .dailydeal-grid li.item {
        width: 100% !important;
        display: block;
        margin-left: 0px !important;
    }
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 300px !Important;
    }
    .dailydeal-grid li.item, .category-products ul.dailydeal-grid li.first, .category-products ul.dailydeal-grid li.last {
        width: 100% !important;
    }
}

@media all and (min-width: 380px) and (max-width: 480px) {

    .dailydeal-grid li.item {
        width: 100%;
        display: block;
        margin-left: 0px !important;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
    ol#products-list li.item {
        background: url("../../images/magestore/dailydeal/bg_bottom_li.png") no-repeat scroll center bottom transparent;
    }
    ol#products-list li.item .wrap-productlist-li {
        width: 300px;
        float: none;
        margin: 0 auto;
    }
    .dailydeal-list li .product-image, .dailydeal-list .product-shop {
        width: 100%;
        float: none;
        clear: both;
    }
    .dailydeal-list .product-shop {
        padding-top: 10px;
    }
    .dailydeal-grid li.item {
        width: 100% !important;
        display: block;
        margin-left: 0px !important;
    }
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 300px !Important;
    }

    .dailydeal-grid li.item {
        display: block;
        width: 100%;
    }
    .dailydeal-grid li.item, .category-products ul.dailydeal-grid li.first, .category-products ul.dailydeal-grid li.last {
        width: 100% !important;
    }
}

@media all and (min-width: 481px) and (max-width: 719px) {

    .dailydeal-grid li.item {
        width: 100% !important;
        display: block;
        margin-left: 0px !important;
    }
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 300px !Important;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
    ol#products-list li.item {
        background: url("../../images/magestore/dailydeal/bg_bottom_li.png") no-repeat scroll center bottom transparent;
    }
    ol#products-list li.item .wrap-productlist-li {
        width: 340px;
        float: none;
        margin: 0 auto;
    }
    .dailydeal-list li .product-image, .dailydeal-list .product-shop {
        width: 100%;
        float: none;
        clear: both;
    }
    .dailydeal-list .product-shop {
        padding-top: 10px;
    }

    .dailydeal-grid li.item {
        display: block;
        width: 100%;
    }
    .dailydeal-grid li.item, .category-products ul.dailydeal-grid li.first, .category-products ul.dailydeal-grid li.last {
        width: 100% !important;
    }
}

@media screen and (min-width: 720px) and (max-width: 985px) {

    .dailydeal-grid li.item {
        width: 100%;
        display: block;
        margin-left: 0px !important;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
    ol#products-list li.item {
        background: url("../../images/magestore/dailydeal/bg_bottom_li.png") no-repeat scroll center bottom transparent;
    }
    ol#products-list li.item .wrap-productlist-li {
        width: 300px;
        float: none;
        margin: 0 auto;
    }
    .dailydeal-list li .product-image, .dailydeal-list .product-shop {
        width: 100%;
        float: none;
        clear: both;
    }
    .dailydeal-list .product-shop {
        padding-top: 10px;
    }
    .dailydeal-grid li.item {
        width: 100% !important;
        display: block;
        margin-left: 0px !important;
    }

    .dailydeal-grid li.item {
        display: block;
        width: 100%;
    }

}
@media only screen and (max-width: 767px) {

    .dailydeal-list .product-shop {
        width: 100%;
    }
    .dailydeal-grid li.item {
        display: block !important;
        width: 100% !important;
    }
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 300px !important;
        margin: 0 auto !important;
        float: none !important;
    }
    ol#products-list li.item {
        padding-bottom: 10px;
        background: url("../../images/magestore/dailydeal/bg_bottom_li_300.png") no-repeat scroll center bottom rgba(0, 0, 0, 0)
    }
    .dailydeal-grid li.item, .category-products ul.dailydeal-grid li.first, .category-products ul.dailydeal-grid li.last {
        width: 100% !important;
    }
    .sidebardailydeal {
        float: none !Important;
    }
    .sidebardailydeal .sidebar-product-image {
        float: none;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .sidebardailydeal .sidebar-product-image img {
        max-width: 280px;
    }
    .sidebardailydeal .item p {
        float: right;
    }
    .extrahint-wrapper > ul {
        clear: both;
    }
    .bg-saleoff {
        background: url("../../images/magestore/dailydeal/bg-saleoff.png") no-repeat scroll center top rgba(0, 0, 0, 0);
        float: none !important;
        text-align: center !important;
        padding-top: 28px !important;
    }
    .bg-saleoff span {
        margin: inherit;
    }
}

@media screen and (min-width: 986px) and (max-width: 1235px) {
    .dailydeal-grid li.item .dailydeal-wrap {
        margin: 0 auto !important;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
}

@media screen and (min-width: 1236px) and (max-width: 1585px) {
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 340px;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }

}

@media screen and (min-width: 1586px) and (max-width: 1890px) {
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 340px;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
}

@media screen and (min-width: 1891px) {
    .dailydeal-grid li.item .dailydeal-wrap {
        width: 340px;
    }
    .dailydeal-grid li.item, .dailydeal-grid li.last {
        text-align: center !important;
    }
}

