<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Dailydeal>
            <version>0.1.2</version>
        </Magestore_Dailydeal>
    </modules>
    <frontend>
        <routers>
            <dailydeal>
                <use>standard</use>
                <args>
                    <module>Magestore_Dailydeal</module>
                    <frontName>dailydeal</frontName>
                </args>
            </dailydeal>
        </routers>
        <layout>
            <updates>
                <dailydeal>
                    <file>dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Dailydeal>
                    <files>
                        <default>Magestore_Dailydeal.csv</default>
                    </files>
                </Magestore_Dailydeal>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<dailydealadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Dailydeal</module>
					<frontName>dailydealadmin</frontName>
				</args>
			</dailydealadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<dailydeal>
					<file>dailydeal.xml</file>
				</dailydeal>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Dailydeal>
                    <files>
                        <default>Magestore_Dailydeal.csv</default>
                    </files>
                </Magestore_Dailydeal>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <dailydeal>
                <class>Magestore_Dailydeal_Model</class>
                <resourceModel>dailydeal_mysql4</resourceModel>
            </dailydeal>
            <dailydeal_mysql4>
                <class>Magestore_Dailydeal_Model_Mysql4</class>
                <entities>
                    <dailydeal>
                        <table>dailydeal</table>
                    </dailydeal>
                </entities>
            </dailydeal_mysql4>
        </models>
        <resources>
            <dailydeal_setup>
                <setup>
                    <module>Magestore_Dailydeal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dailydeal_setup>
            <dailydeal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeal_write>
            <dailydeal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeal_read>
        </resources>
        <blocks>
            <dailydeal>
                <class>Magestore_Dailydeal_Block</class>
            </dailydeal>
        </blocks>
        <helpers>
            <dailydeal>
                <class>Magestore_Dailydeal_Helper</class>
            </dailydeal>
        </helpers>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>collectionloadafter</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </catalog_product_collection_load_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>saveorder</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </sales_model_service_quote_submit_before>
         
            <catalog_product_get_final_price>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>getfinalprice</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </catalog_product_get_final_price>
            <checkout_cart_save_after>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>update_items</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </checkout_cart_save_after>

            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>addproduct</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_order_creditmemo_refund>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>refundCreditmemo</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </sales_order_creditmemo_refund>
            <order_cancel_after>
                <observers>
                    <Magestore_Dailydeal_Model_Observer>
                        <type>singleton</type>
                        <class>Magestore_Dailydeal_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </Magestore_Dailydeal_Model_Observer>
                </observers>
            </order_cancel_after>
         </events>
    </global>
    
     <default>
        <dailydeal>
            <general>
                  <limit>0</limit>
            </general>
            <sidebar>
				<is_display>1</is_display>
				<display_on_left_right_sidebar>1</display_on_left_right_sidebar>
				<number_deal>1</number_deal>
            </sidebar>
        </dailydeal>
    </default>
</config>