<?xml version="1.0"?>

<config>
	<modules>
		<Redstage_OrderFollowupEmail>
			<version>0.1.0</version>
		</Redstage_OrderFollowupEmail>
	</modules>
	<global>
		<helpers>
			<orderfollowupemail>
				<class>Redstage_OrderFollowupEmail_Helper</class>
			</orderfollowupemail>
		</helpers>
		<blocks>
			<orderfollowupemail>
				<class>Redstage_OrderFollowupEmail_Block</class>
			</orderfollowupemail>
			<!--<sales>
				<rewrite>
					<order_email_items_default>Redstage_OrderFollowupEmail_Block_Order_Email_Items_Default</order_email_items_default>
				</rewrite>
			</sales>-->
		</blocks>
		<models>
			<orderfollowupemail>
				<class>Redstage_OrderFollowupEmail_Model</class>
				<resourceModel>orderfollowupemail_mysql4</resourceModel>
			</orderfollowupemail>
			<orderfollowupemail_mysql4>
				<class>Redstage_OrderFollowupEmail_Model_Mysql4</class>
				<entities>
					<log>
						<table>orderfollowupemail_log</table>
					</log>
				</entities>
			</orderfollowupemail_mysql4>
			<!--<sales>
				<rewrite>
					<order>Redstage_OrderFollowupEmail_Model_Order</order>
				</rewrite>
			</sales>-->
		</models>
		<resources>
			<orderfollowupemail_setup>
				<setup>
					<module>Redstage_OrderFollowupEmail</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</orderfollowupemail_setup>
			<orderfollowupemail_write>
				<connection>
					<use>core_write</use>
				</connection>
			</orderfollowupemail_write>
			<orderfollowupemail_read>
				<connection>
					<use>core_read</use>
				</connection>
			</orderfollowupemail_read>
		</resources>
		<!--<events>
			<sales_order_payment_place_end>
				<observers>
					<log_orderfollowupemail_auths>
						<type>singleton</type>
						<class>orderfollowupemail/observer</class>
						<method>logPresaleAuths</method>
					</log_orderfollowupemail_auths>
					<check_thresholds_met>
						<type>singleton</type>
						<class>orderfollowupemail/observer</class>
						<method>checkThresholdsMet</method>
					</check_thresholds_met>
				</observers>
			</sales_order_payment_place_end>
			<sales_model_service_quote_submit_success>
			</sales_model_service_quote_submit_success>
		</events>-->
		<!--<rewrite>
			<redstage_ordercontroller>
				<from><![CDATA[#^/sales/order/#]]></from>
				<to>/orderfollowupemail/order/</to>
			</redstage_ordercontroller>
		</rewrite>-->
	</global>
	<frontend>
		<!--<routers>
			<redstage_orderfollowupemail>
				<use>standard</use>
				<args>
					<module>Redstage_OrderFollowupEmail</module>
					<frontName>sales/order</frontName>
				</args>
			</redstage_orderfollowupemail>
		</routers>-->
		<layout>
			<updates>
				<orderfollowupemail>
					<file>orderfollowupemail.xml</file>
				</orderfollowupemail>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<orderfollowupemail>
				<use>admin</use>
				<args>
					<module>Redstage_OrderFollowupEmail</module>
					<frontName>orderfollowupemail</frontName>
				</args>
			</orderfollowupemail>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<orderfollowupemail translate="title" module="orderfollowupemail">
											<title>Order Followup Email Settings</title>
										</orderfollowupemail>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<crontab>
		<jobs>
			<redstage_orderfollowupemail>
				<!--<schedule><cron_expr>0,5,10,15,20,25,30,35,40,45,50,55 * * * *</cron_expr></schedule>-->
				<schedule><cron_expr>* * * * *</cron_expr></schedule>
				<run><model>orderfollowupemail/cron::processFollowupEmails</model></run>
			</redstage_orderfollowupemail>
		</jobs>
	</crontab>
</config>