<?xml version="1.0"?>
<config>
    <modules>
        <Busteco_CategoryAttribute>
            <version>0.0.2</version>
        </Busteco_CategoryAttribute>
    </modules>
 
    <global>
        <models>
            <categoryattribute>
                <class>Busteco_CategoryAttribute_Model</class>
                <resourceModel>categoryattribute_resource</resourceModel>
            </categoryattribute>
        </models>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <add_product_filter_to_html>
                        <class>categoryattribute/observer</class>
                        <method>addProductFilter</method>
                    </add_product_filter_to_html>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <resources>
            <category_attribute>
                <setup>
                    <module>Busteco_CategoryAttribute</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </category_attribute>
            <category_attribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </category_attribute_write>
            <category_attribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </category_attribute_read>
        </resources>
    </global>
</config>