<?xml version="1.0"?>
<config>
    <modules>
        <Busteco_Externaldbconnection>
            <version>0.1.0</version>
        </Busteco_Externaldbconnection>
    </modules>
    <global>
    	<helpers>
	    	<externaldbconnection>
	        	<class>Busteco_Externaldbconnection_Helper</class>
	    	</externaldbconnection>
	    </helpers>
    	<models>
            <externaldbconnection>
                <class>Busteco_Externaldbconnection_Model</class>
                <resourceModel>externaldbconnection_mysql4</resourceModel>
            </externaldbconnection>
            <externaldbconnection_mysql4>
                <class>Busteco_Externaldbconnection_Model_Mysql4</class>
                <entities>
                    <orders>
                        <table>sales_flat_order</table>
                    </orders>
                    <address>
                    	<table>sales_flat_order_address</table>
                    </address>
                    <payment>
                    	<table>sales_flat_order_payment</table>
                    </payment>
                    <item>
                    	<table>sales_flat_order_item</table>
                    </item>
                    <grid>
                    	<table>sales_flat_order_grid</table>
                    </grid>
                    <history>
                    	<table>sales_flat_order_status_history</table>
                    </history>
                </entities>
            </externaldbconnection_mysql4>
        </models>
        <resources>
            <externaldbconnection_write>
                <connection>
                    <use>externaldbconnection_database</use>
                </connection>
            </externaldbconnection_write>
            <externaldbconnection_read>
                <connection>
                    <use>externaldbconnection_database</use>
                </connection>
            </externaldbconnection_read>
            <externaldbconnection_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </externaldbconnection_setup>
            <externaldbconnection_database>
                <connection>
                    <host><![CDATA[localhost]]></host>
                    <username><![CDATA[printcard_mage]]></username>
                    <password><![CDATA[[hz"~_T16]J"L<W]]></password>
                    <dbname><![CDATA[printcard]]></dbname>
                    <model>mysql4</model>
                    <type>pdo_mysql</type>
                    <active>1</active>
                </connection>
            </externaldbconnection_database> 
        </resources>
    </global>
</config>
