<?xml version="1.0"?>
<config>
    <modules>
        <Busteco_CautareRapida>
            <version>0.1.0</version>
        </Busteco_CautareRapida>
    </modules>
    <frontend>
        <routers>
            <cautarerapida>
                <use>standard</use>
                <args>
                    <module>Busteco_CautareRapida</module>
                    <frontName>cautarerapida</frontName>
                </args>
            </cautarerapida>
        </routers>
        <layout>
            <updates>
                <cautarerapida>
                    <file>cautarerapida.xml</file>
                </cautarerapida>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <cautarerapida>
                <class>Busteco_CautareRapida_Block</class>
            </cautarerapida>
        </blocks>
        <helpers>
            <cautarerapida>
                <class>Busteco_CautareRapida_Helper</class>
            </cautarerapida>
        </helpers>
    </global>
</config>