<!--@subject Bun venit, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Buna ziua, {{htmlescape var=$customer.name}}!</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bine ati venit la {{var store.getFrontendName()}}.<br/>Pentru a va autentifica de pe site-ul nostru apasati <a href="{{store url="customer/account/"}}" style="color:#CC3333;">Login</a> sau <a href="{{store url="customer/account/"}}" style="color:#CC3333;">Contul meu</a> in partea de sus a fiecarei pagini, si apoi introduceti adresa de email si parola.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                              Pentru autentificare folositi:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Parola</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Dupa ce va autentificati in cont, veti putea efectua urmatoarele operatiuni:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modificarea informatiilor contului</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Finalizarea rapida a comenzii</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verificarea starii comenzii</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Vizualizarea comenzilor anterioare si posibilitatea de re-comanda</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Schimbarea parolei</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Stocarea unei adrese alternative (pentru livrarea catre sucursalele firmei sau parteneri de afaceri)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px;">De asemenea nu ezitati sa utilizati configuratorul de imprimanta si functia de cautare rapida de consumabile, de pe prima pagina. Aceste doua instrumente au fost special concepute pentru a va ajuta sa gasiti rapid imprimanta sau consumabilele dorite.</p>
                            <p style="font-size:12px; line-height:16px; margin:0;">Daca aveti intrebari legate de contul Dvs., va rugam sa ne contactati la <b><a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#CC3333;">{{config path='trans_email/ident_support/email'}}</a></b>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center>
                          <p style="font-size:12px; margin:0;">Va multumim, echipa <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                    <tr>
                      <td>
                      <p style="font-size:10px; line-height:16px;">Acest mesaj este generat automat de catre magazinul online printcard.ro. Daca nu sunteti destinatarul dorit al mesajului va rugam sa ne contactati.
                      <br/>
                      Cititi politica noastra de confidentialitate pentru detalii despre cum va protejam informatiile personale. Toate ofertele si produsele sunt supuse subiectului disponibilitatii.</p></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>