<?xml version="1.0"?>
<config>
    <global>
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('CashOnDelivery/...') -->
            <CashOnDelivery>
<!-- base class name for the model group -->
                <class>Cybertech_CashOnDelivery_Model</class>
            </CashOnDelivery>
        </models>
 
<!-- declare resource setup for new module -->
        <resources>
<!-- resource identifier -->
            <CashOnDelivery_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
<!-- which module to look for install/upgrade files in -->
                    <module>Cybertech_CashOnDelivery</module>
                </setup>
<!-- specify database connection for this resource -->
                <connection>
<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </CashOnDelivery_setup>
            <CashOnDelivery_write>
                <use>core_write</use>
            </CashOnDelivery_write>
            <CashOnDelivery_read>
                <use>core_read</use>
            </CashOnDelivery_read>
        </resources>
    </global>
 
<!-- declare default configuration values for this module -->
    <default>
<!-- 'payment' configuration section (tab) -->
        <payment>
<!-- 'CashOnDelivery' configuration group (fieldset) -->
            <CashOnDelivery>
<!-- by default this payment method is inactive -->
                <active>1</active>
<!-- model to handle logic for this payment method -->
                <model>CashOnDelivery/paymentMethod</model>
<!-- order status for new orders paid by this payment method -->
                <order_status>1</order_status>
<!-- default title for payment checkout page and order view page -->
                <title>Cash On Delivery</title>
            </CashOnDelivery>
         </payment>
    </default>
</config>